/*
h1 - 48px
h2 - 36px
h3 - 28px
all other text - 21px

colors: 
   #588C94 
   #1D3C41
*/

/* ========
GLOBAL
========= */

body {
  margin: 0;
  font-size: 21px;
}

/* ========
TYPOGRAPHY
======== */

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

/* ========
 LAYOUT 
========= */

header {
  background-color: #588C94;
  color: white;
  text-align: center;
  padding: 30px;
}

.intro {
  width: 500px;
  margin: 100px auto;
  text-align: center;
}

.my-skills {
  background-color: #1D3C41;
  color: #fff;
  text-align: center;
  padding: 75px 0;
}

.columns {
  display: flex;
}

.column {
  margin: 0 10px;
}